/* --------basic--------- */

html, body {
  height: 100%; width: 100%; margin: 0; padding: 0; 
  background: #e1e1;
}

a {
  text-decoration: none; font-weight: bold; color: orange;
}

.container {
  position: relative;
  height: 100%;
}

.fullwidth {
  padding-right: 0px;
}

/* -------hide cc-------- */

.gm-style-cc { display:none; }

/* --------header--------- */

header {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin: 0 auto;
  position: fixed;
  border-bottom: 1px solid black;
  height: 60px;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(54, 25, 25, .75);
}

#pagetitle {
  font-size: 35px;
  line-height: 60px;
  padding: 0 10px;
}

#rightMenuButton {
  height: 60px;
  position: absolute;
  right: 15px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  line-height: 30px;
  display: block;
  margin-top: 10px;
  background-color: orange;
}

/* ------------main-------------- */

#map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#rightMenu {
  z-index: 99;
  position: fixed;
  text-align: center;
  top: 60px;
  right: 0px;
  width: 250px;
  background: rgba(54, 25, 25, .75);
  height: 100%;
  border-left: 1px solid black;
}

/* ------------cards------------- */

.cards-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-width: 400px;
  max-width: 1200px;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card {
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px;
}

#bryggenCard {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 100;
  top: 300px;
  text-align: center;
  line-height: 300px;
}

/*------media query--------*/

@media only screen and (max-width : 640px) {

}

@media only screen and (min-width : 1200px) {
  
  .card-wrapper {
   max-width: 580px; /* 1200/2 minus margin */
  }
  
  .fullwidth {
    max-width: 1200px;
  }
}